@import '/src/utils/styles/variables/variables';

.plan-block {
	padding: 40px 60px;

	.invoicing {
		.head {
			display:         flex;
			justify-content: space-between;
			align-items:     center;
			margin-bottom:   8px;

			.name {
				font-family:    Montserrat-Bold, sans-serif;
				font-size:      36px;
				text-transform: capitalize;
				color:          $font-colorText
			}

			.change-plan {
				font-family: Lato-Regular, sans-serif;
				font-size:   16px;
				color:       $font-colorTextAction;
			}
		}

		.price {
			font-family:    Montserrat-Bold, sans-serif;
			font-size:      28px;
			text-transform: capitalize;
			color:          $font-colorText;
			margin-bottom:  20px;

			.frequency {
				font-size:      20px;
				color:          $font-colorTextLight;
				text-transform: none;
			}
		}

		.charge-info {
			display:       flex;
			gap:           14px;
			margin-bottom: 20px;

			font-family:   Lato-Regular, sans-serif;
			font-size:     14px;

			.charge-date {
				color: $font-colorTextLight;
			}

			.payment-method {
				color: $font-colorTextAction;
			}
		}

		.annual-plan {
			display:     flex;
			align-items: center;
			gap:         16px;

			.switch-button {
				padding:          8px 16px;

				font-family:      Lato-Bold, sans-serif;
				font-size:        14px;
				color:            $font-colorTextContrast;

				background-color: $brand-colorSecondary;
			}

			.benefits {
				font-family: Lato-Regular, sans-serif;
				font-size:   14px;
				color:       $font-colorText;
			}
		}
	}

	.features {
		display:        flex;
		flex-direction: column;
		gap:            20px;

		margin-top:     40px;
		padding-top:    40px;
		border-top:     1px solid $border-colorBorderLight;

		.head {
			display:     flex;
			gap:         8px;

			font-family: Montserrat-Bold, sans-serif;
			font-size:   20px;
			color:       $font-colorText;

			img {
				width: 24px;
			}
		}

		.recommended-plan {
			display:          flex;
			justify-content:  space-between;

			padding:          24px 40px;
			border-radius:    12px;
			background-color: $back-colorBgInfo;

			.features-info {
				display:        flex;
				flex-direction: column;
				gap:            16px;

				.name {
					font-family: Montserrat-Bold, sans-serif;
					font-size:   24px;
					color:       $font-colorTextAction;
				}

				ul {
					display:        flex;
					flex-direction: column;
					gap:            15px;

					font-family:    Lato-Regular, sans-serif;
					font-size:      14px;
					color:          $font-colorText;

					li {
						$check-size: 24px;
						$gap:        5px;

						position:    relative;
						left:        calc($check-size + $gap);

						&::before {
							content:  url('/public/assets/images/icons/general/check.svg');

							position: absolute;
							left:     calc(($check-size + $gap) * -1);
							top:      -2px;

							width:    $check-size;
							height:   $check-size;
						}
					}
				}
			}

			.price-info {
				display:        flex;
				flex-direction: column;
				align-items:    flex-end;

				.price {
					margin-top:  12px;

					font-family: Montserrat-Bold, sans-serif;
					font-size:   24px;
					color:       $font-colorText
				}

				.charge-info {
					margin-top:  8px;

					font-family: Lato-Regular, sans-serif;
					font-size:   12px;
					text-align:  end;
					color:       $font-colorTextLight;
				}

				.upgrade {
					margin-top:       25px;
					padding:          8px 16px;

					font-family:      Lato-Bold, sans-serif;
					font-size:        14px;
					color:            $font-colorTextContrast;

					background-color: $brand-colorPrimary;
				}
			}
		}
	}
}