$back-colorBg: #F4F5F6;
$back-colorBgInfo: #F5F8FF;
$border-colorBorderInfo: #758EF0;
$border-colorBorderLight: rgba(#222B55, 8%);
$brand-colorPrimary: #FF5762;
$brand-colorSecondary: #415DE8;
$font-colorText: #222B55;
$font-colorTextAccent: #FF5762;
$font-colorTextAction: #415DE8;
$font-colorTextContrast: #FFFFFF;
$font-colorTextExtraLight: #AFB3C0;
$font-colorTextLight: #7B829A;
$palette-alpha-blue-12: rgba(#415DE8, 12%);
$palette-black-5: #EBECF0;
$palette-red-4: #FFC2C2;