@import '/src/utils/styles/variables/variables';

.personal-area {
	display: flex;
	justify-content: space-between;
	background-color: red;

	.navigation {
		display: flex;
		flex-direction: column;
		gap: 28px;
		width: 304px;

		height: fit-content;
		padding: 20px 0;

		.list {
			.list-heading {
				padding: 12px 32px;

				font-family: Montserrat-Bold, sans-serif;
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: $font-colorTextLight;
			}

			ul {
				font-family: Lato-Regular, sans-serif;
				font-size: 16px;

				li {
					padding: 12px 32px;
				}
			}
		}
	}
}