@import '/src/utils/styles/variables/variables';

.personal-area {
	display:         flex;
	justify-content: space-between;
	gap:             32px;

	.navigation {
		display:        flex;
		flex-direction: column;
		gap:            28px;
		min-width:      304px;

		height:         fit-content;
		padding:        20px 0;

		.list {
			.list-heading {
				padding:        12px 32px;

				font-family:    Montserrat-Bold, sans-serif;
				font-size:      12px;
				text-transform: uppercase;
				letter-spacing: 1px;
				color:          $font-colorTextLight;
			}

			ul {
				font-family: Lato-Regular, sans-serif;
				font-size:   16px;
				color: $font-colorText;

				li {
					background-color: $font-colorTextContrast;
					transition:       background-color $animation-duration-slow;

					&:hover {
						cursor: pointer;
						background-color: #f2f2f4;
					}

					&.active {
						$border-width: 4px;

						a {
							--horizontal-padding: calc(32px - #{$border-width});
						}

						border-left: $border-width solid $brand-colorPrimary;
					}

					a {
						--horizontal-padding: 32px;

						width: 100%;
						padding: 12px var(--horizontal-padding);

						&::after {
							left: var(--horizontal-padding);
						}
					}
				}
			}
		}
	}

	.pages {
		width:  100%;
		height: 100%;
	}
}