@import '/src/utils/styles/variables/variables';

.main {
	display: grid;
	grid-template-columns: 208px 1fr 208px;
	padding-bottom: 38px;

	height: calc(100% - 80px);

	> * {
		grid-column: 2;
	}

	@include media {
		grid-template-columns: 1fr;

		> * {
			grid-column: 1;
		}
	}
}